.contribution-image{
    height: 64px;
    width: 64px;
    margin-top: 16px;
    margin-left: 16px;
}

.project-content{
    color: black;
}

.card-body h1, h4, p, a{
    font-family: 'MyFont';
}

@font-face {
    font-family: 'MyFont'; 
    src: url(../../static/Arvo-Regular.ttf); 
}