.contribution-image{
    height: 64px;
    width: 64px;
    margin-top: 16px;
    margin-left: 16px;
}

.project-content{
    color: black;
}

.card-body{
    font-family: 'MyFont';
}

.card-body > p {
    margin: 0px;
}

.heading{
    font-family: 'MyFont';
    padding: 8px;
}

@font-face {
    font-family: 'MyFont'; 
    src: url(../../static/Arvo-Regular.ttf); 
}