.project-jumbotron{
    border-radius: 0;
    background-color: #720D5D;
    font-family: 'MyFont';
}

.jumbotron-title{
    color: white;
}

.project-image{
    height: 48px;
    width: 48px;
    margin-top: 6px;
    margin-left: 6px;
    transition: transform 250ms;
}

.project-image:hover{
    transform: scale(1.2) 
}

.skills{
    animation: skills-animation 3s 1 forwards;
}

@keyframes skills-animation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@font-face {
    font-family: 'MyFont'; 
    src: url(../../static/Arvo-Regular.ttf); 
}