.project-card-container{
    margin: 12px;
    font-family: 'MyFont';
}

@font-face {
    font-family: 'MyFont'; 
    src: url(../../static/Arvo-Regular.ttf); 
}


.project-content{
    color: white;
    margin-right: 16px;
}

.project-link{
    color: white;
}

.project-link:hover{
    color: wheat;
}


.project-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 8px;
  }

  .project-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.project-image{
    align-self: right;
    width: 64px;
    height: 64px;
    margin: 16px;
}

.card-horizontal {
    display: flex;
}


.w3-tag{
    margin: 2px;
    font-size: 10px;
    background-color: black;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    color: white;
}

.skills{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    animation: skills-animation 3s 1 forwards;

}

@keyframes skills-animation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

