.project-card-container{
    margin: 12px;
}

.project-content{
    align-self: center;
    color: white;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.project-link{
    color: white;
}

.project-link:hover{
    color: wheat;
}


.project-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .project-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.project-image{
    align-self: right;
    width: 64px;
    height: 64px;
    margin: 16px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.w3-tag{
    margin: 2px;
    font-size: 10px;
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.skills{
    margin-right: 10px;
    width: min-content;
    animation: skills-animation 3s 1 forwards;
}

@keyframes skills-animation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

